
*{
    margin: 0;
    padding: 0;
}
 
body{
    font-family: Avenir;
}
 
.navbar{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    text-align: center;
}
 
.navbar li{
    display: inline-block;
    padding: 10px;
    text-align: center;
    background-color: green;
    width: 50px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
 

 
.block{
    height: 100%;
    width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a{
	color:#fff;
	text-decoration: none;
}

h1{
	text-align: center;
    background-color: green;
    width: 100px;
    margin-left: auto;
  margin-right: auto;
}

.container{
	width:540px;
	margin:40px auto;
	overflow:auto;
}

.slider-inner{
	width:500px;
	height:300px;
	position:relative;
	overflow:hidden;
	float:left;
	padding:3px;
	border:#666 solid 1px;
}

.slider-inner img{
	display:none;
	width:500px;
	height:300px;
}

.slider-inner img.active{
	display:inline-block;
}

.prev,.next{
	float:left;
	margin-top:130px;
	cursor: pointer;
}

.prev{
	position:relative;
	margin-right:-45px;
	z-index:100;
}

.next{
	position:relative;
	margin-left:-45px;
	z-index:100;
}
